body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-left: 20px;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.input{
  height: 60px;
  width:360px;
  background-color: #DEDEDE;
  text-align: center;
  line-height: 60px;
}
input{
  width: 280px;
  height: 40px;
  line-height: 40px;
  font-size: large;
}

button{
  height: 40px;
  line-height: 40px;
  font-size: large;
}

